@model SahafProjesi.Models.Kullanici

@{
    ViewData["Title"] = "Edit";
}

<h1>Kullanıcı</h1>

<h4>Kullanıcı Düzenleme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KullaniciID" />
            <div class="form-group">
                <label asp-for="Ad" class="control-label">Ad</label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label">Kullanıcı Adı</label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label">Şifre</label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yas" class="control-label">Yaş</label>
                <input asp-for="Yas" class="form-control" />
                <span asp-validation-for="Yas" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Geri Dön</a>
            </div>
        </form>
    </div>
</div>
<br />
@* <div>
    <a asp-action="Index" class="btn btn-primary" >Geri Dön</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
