@model SahafProjesi.Models.Yayinevi

@{
    ViewData["Title"] = "Edit";
}

<h1>Yayınevı</h1>

<h4>Yayınevi Düzenleme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="YayineviID" />
            <div class="form-group">
                <label asp-for="YayineviAdi" class="control-label">Yayınevi Adı</label>
                <input asp-for="YayineviAdi" class="form-control" />
                <span asp-validation-for="YayineviAdi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Geri Dön</a>
            </div>
        </form>
    </div>
</div>
<br />
@* <div>
    <a asp-action="Index" class="btn btn-primary" >Geri Dön</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
